version: "2"
services:

  # Kafka
  kafka-1:
    image: debezium/kafka:2.7.0.Final
    ports:
      - 19092:9092
      - 19093:9093
    environment:
      - CLUSTER_ID=g4xWbaRgd-b-zQYgIS1rY5
      - BROKER_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
  kafka-2:
    image: debezium/kafka:2.7.0.Final
    ports:
        - 29092:9092
        - 29093:9093
    environment:
        - CLUSTER_ID=g4xWbaRgd-b-zQYgIS1rY5
        - BROKER_ID=2
        - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
  kafka-3:
      image: debezium/kafka:2.7.0.Final
      ports:
        - 39092:9092
        - 39093:9093
      environment:
        - CLUSTER_ID=g4xWbaRgd-b-zQYgIS1rY5
        - BROKER_ID=3
        - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093

  # Fish service
  fish-service:
    image: fish_demo:latest
    ports:
      - "8083:8083"
  # Mustelid service
  mustelid-service:
    image: mustelid_demo:latest
    ports:
      - "8084:8084"
  # Feline service
  feline-service:
    image: feline_demo:latest
    ports:
      - "8085:8085"
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
  # Mammal service
  mammal-service:
    image: mammal_demo:latest
    ports:
      - "8081:8081"
    depends_on:
      - feline-service
      - mustelid-service
  # Animal service
  animal-service:
    image: animals_demo:latest
    ports:
      - "8080:8080"
    depends_on:
      - fish-service
      - mammal-service